In [681]:
def handling(X):
    L = ['Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
     'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Monthly_Balance', 'Credit_History_Age']
    for l in L:
        X[l] = X[l].str.strip('_')
        X[l] = pd.to_numeric(X[l], errors='coerce')
        X[l] = X[l].fillna(method='ffill')

    X = X[(X.Age >= 0) & (X.Age < 100)]
    X = X[X.Annual_Income < 1e5]
    X.to_string(columns=['Occupation'])
    X.loc[X.Occupation == '_______', 'Occupation'] = np.nan
    X['Credit_Score'].astype('string')

    return X

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
import mglearn
import seaborn as sns
%matplotlib inline
plt.style.use('seaborn-notebook')

In [682]:
df = pd.read_csv('train.csv', low_memory=False).astype('string', errors='ignore')

In [683]:
df = handling(df)

In [705]:
relevent_columns = ['Occupation', 'Monthly_Inhand_Salary','Credit_Score', 'Num_of_Loan', 'Credit_History_Age']
df = df[relevent_columns]

KeyError: "['Monthly_Inhand_Salary'] not in index"

In [719]:
y = df.Credit_Score
X = pd.get_dummies(df.drop(columns=['Credit_Score']), columns=['Occupation', 'Credit_History_Age', 'Num_of_Loan'])

In [720]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=777)

In [721]:
X_train

,Annual_Income,Occupation_Accountant,Occupation_Architect,Occupation_Developer,Occupation_Doctor,Occupation_Engineer,Occupation_Entrepreneur,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,...,Num_of_Loan_1463,Num_of_Loan_1464,Num_of_Loan_1465,Num_of_Loan_1470,Num_of_Loan_1474,Num_of_Loan_1478,Num_of_Loan_1480,Num_of_Loan_1482,Num_of_Loan_1484,Num_of_Loan_1485
44441,16167.61,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90158,79298.96,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
46231,18184.99,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64650,39369.68,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75464,20014.91,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90834,23336.97,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
65369,18369.33,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62001,30804.39,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97027,28417.58,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75856,20344.02,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [722]:
clf = RandomForestClassifier().fit(X_train, y_train)
clf.score(X_test, y_test)

0.7706408913436815

In [723]:
clf = DecisionTreeClassifier(max_depth=100, random_state=2).fit(X_train, y_train)
clf.score(X_test, y_test)

0.784258642034092